
<!--Section: Blog v.1-->
<section class="py-4 text-center text-lg-left">

    <!--Section heading-->
    <h1 class="h1 font-weight-bold text-center mb-2 pt-4">Our Mandate</h1>
    <!--Section description-->
    <p class="text-center mb-5 pb-3">
Republic Act 6975 entitled An Act Establishing the Philippine National Police under a reorganized
Department of the Interior and Local Government and Other Purposes as amended by RA  8551
Philippine National Police Reform and Reorganization Act of 1998 and further amended by RA 9708..</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-5 pb-3">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image for first version of blog listing"
                    class="img-fluid">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7">
            <!--Excerpt-->
            <a href="" class="green-text">
                <h6 class="font-weight-bold pb-1">
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>Our Mission</strong>
            </h3>
            <p>
              The PNP shall enforce the law, prevent and control crimes, maintain peace and order,
              and ensure public safety and internal security with the active support of the community.
            </p>
            <p>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5 mt-5 pb-3">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 pb-3">
            <!--Excerpt-->
            <a href="" class="pink-text">
                <h6 class="font-weight-bold pb-1">
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>Our Core Values</strong>
            </h3>
            <p>Maka-Diyos (Pro-God)</p>
            <p>Makabayan (Pro-Country)</p>
            <p>Makatao (Pro-People)</p>
            <p>Makakalikasan (Pro-Environment)</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-5 col-xl-5 mb-5">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Second image in the first version of blog listing"
                    class="img-fluid">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5 mt-4 pb-3">

    <!--Grid row-->
    <div class="row pb-5">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-5 pb-3">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Thrid image in the blog listing." class="img-fluid">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7">
            <!--Excerpt-->
            <a href="" class="indigo-text">
                <h6 class="font-weight-bold pb-1">
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>Our Vision</strong>
            </h3>
            <p>
            Imploring the aid of the Almighty, by 2030, We shall be a highly capable,
            effective and credible police service working in partnership with a responsive
            community towards the attainment of a safer place to live, work and do business.</p>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Blog v.1-->
