<link rel="stylesheet" href="assets/css/compiled.min.css" type="text/css" >
<link rel="stylesheet" href="assets/css/style2.css" type="text/css" >
<style type="text/css">
  .searchCon{
    height: 10px;
    width:300px;
    float: left;
  }
</style>

<br>
<div class="container-fluid">
  <div class="panel panel-primary">
  	<div class="panel-heading">
  		<center><h3><strong>ACCOUNT RESET REQUEST MANAGEMENT ({{main.police_station}})</strong></h3></center><br>
  	</div>
  </div>
    <div class="md-form form-sm">
          <!--Search-->
          <div class="searchCon">
            <i class="fa fa-search prefix"></i>
            <input type="text" ng-model="searchKeyword" id="formSearch" class="form-control" >
            <label for="formSearch">Search</label>
          </div>
          <button title='Search Account Reset' class="btn btn-info mb-1 search btn-red btn-sm" ng-click="resetRequestManagement.search(searchKeyword, number);">Search <i class="fa fa-check ml-1"></i></button>
          <!--Clear-->
          <button class="btn btn-info mb-1 btn-grey btn-sm" ng-click="resetRequestManagement.clear();">Clear <i class="fa fa-check ml-1"></i></button>
  <!--alert-->
  <div class= "jumbotron text-center" ng-show="main.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
  </div>

  <div class="show-hide-message center-block" ng-show="resetRequestManagement.showMoreError">
    <div class="alert alert-danger center-block">{{ resetRequestManagement.showMoreError}}</div>
  </div>
  <div class="md-form" ng-show="searchFilter !== undefined">
    <p><strong>Total results: </strong>{{ (resetRequestManagement.reset_request | filter: searchFilter).length }} &nbsp; &nbsp;<strong>Showing: </strong>{{ (resetRequestManagement.reset_request | filter: searchFilter | limitTo: resetRequestManagement.limit).length  }}</p>
  </div>
  <!-- Table Management -->
	<table class="table table-hover table-bordered table-sm">
  <thead  class="yellow lighten-4">
		<tr>
			<th><b>Account Request Reset</b></th>
			<th><b>Reset Type</b></th>
      <th><b>Reset Status</b></th>
      <th><b>Station</b></th>
      <th><b>Date/Time of Request</b></th>
      <th><b>Date/Time Updated</b></th>
			<th><b>Action</b></th>
		</tr>
	</thead>
		<tr ng-repeat = "account in resetRequestManagement.account_resets | filter: searchFilter | orderBy: 'reset_createdAt': true " ng-class-odd ="'odd'" ng-class-even="'even'">
			<td>{{ account.forgGotUsername}}</td>
			<td>{{ account.forgotPassword }}</td>
      <td>{{ account.resetPassword }}</td>
      <td>{{ account.requestUsername }}</td>
      <td>{{ account.user_station }}</td>
      <td>{{ account.reset_created | date:"MMM d, y '-' h: mma" }}</td>
      <td>{{ account.reset_updated | date:"MMM d, y '-' h: mma " }}</td><hr>
      <td>
        <a href="/editReset/{{ account._id }}">
          <button type="button" ng-show="resetRequestManagement.editResetAccess" class="btn btn-red btn-sm">Edit</button>
        </a>
        <a href="#">
          <button type="button" ng-click="resetRequestManagement.deleteRequest(person.account.resetStatus);" ng-show="resetRequestManagement.deleteRequestAccess" class="btn btn-grey btn-sm">Delete</button>
        </a>
        <a href="#">
          <p ng-show="resetRequestManagement.viewRequestAccess"><strong><b>VIEW ONLY</b></strong></p>
        </a>
      </td>
		</tr>
	</table>
  <!-- Table Management -->
</div>
